@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-work-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #5d4037;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

/* Swiper customizations */
.mySwiper {
  width: 100%;
  padding-right: 0;
}

.swiper-slide {
  opacity: 0.7;
  transition: opacity 0.3s ease;
  height: auto;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-next {
  opacity: 0.8;
}

.inter {
  font-family: var(--font-work-sans);
}

.scroll-section-outer {
  overflow: hidden;
  /* height: 100vh; */
}

.noto-sans-myanmar {
  font-family: "Noto Sans Myanmar", sans-serif;
}

.scroll-section-inner {
  /* background-color: red; */
  height: 70vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.button {
  background-color: var(--primary);
  transition: all 0.3s ease;
  font-family: var(--font-poppins);
  color: white;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
}

.ctabutton {
  background-color: white;
  transition: all 0.3s ease;
  font-family: var(--font-poppins);
  color: #151515;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
}

.button-outline {
  background-color: transparent;
  color: var(--primary);
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  font-size: 14px;
  font-weight: 600;
}

.button-outline:hover,
.button:hover {
  scale: 1.02;
}

/* .button {
  @apply bg-[#5d4037] inline-flex items-center justify-center gap-1 whitespace-nowrap rounded-md text-[14px] poppins font-semibold ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hidden md:block;
} */
